    <header class="header">
        <p class="logo"> LOGO </p>
        <nav class="menu">
            <ul class="menu-list">
                <li class="list">
                    <a href="/">Home</a>
                </li>
                <li class="list">
                    <a href="/products">Products</a>
                </li>
                <li class="list">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>